version: "2"

services:
  web:
    image: nginx:alpine
    restart: on-failure
    tty: true
    ports:
      - "80:80"
    volumes:
      - ./code:/code:rw,cached
      - ./nginx/conf.d/:/etc/nginx/conf.d/
    networks:
      - code-network

  db:
    image: mysql:8
    command: --default-authentication-plugin=mysql_native_password
    restart: on-failure
    ports:
      - "3306:3306"
    volumes:
      - ./data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: laravel_docker
      MYSQL_DATABASE: laravel_dock
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    networks:
      - code-network

  php:
    image: juniyadi/php-composer
    restart: on-failure
    tty: true
    volumes:
      - ./code:/code:rw,cached
      - ./php/local.ini:/usr/local/etc/php/conf.d/local.ini
    command: composer install
    networks:
      - code-network

  redis:
    image: redis
    restart: on-failure
    ports:
      - "6379:6379"
    networks:
      - code-network

networks:
  code-network:
    driver: bridge
